<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ChronoCard"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PerformActivity"
            android:exported="false"
            android:theme="@style/Theme.ChronoCard.NoActionBar" />

        <activity
            android:name=".PasscodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChronoCard.Fullscreen" />

        <activity
            android:name=".AodActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChronoCard.Fullscreen" />

        <activity
            android:name=".LockscreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChronoCard.Fullscreen" />

    </application>
</manifest>
